.content{
    padding: 5px;
}

.image{
    border-radius: 50%;
    overflow: hidden;
}

.image > img{
    max-width: 100%;
}

.card{
    border-radius: 8px;
    background-color: #ffe;
}

.citation{
    border-left: 3px solid #0005;
}

.genius-name{
    color: rgba(247, 58, 0, 0.9);
}