.content{
    padding: 5px;
}

.image{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image > img{
    max-width: 90%;
    max-height: 180px;
    border-radius: 50%;
}

.card{
    border-radius: 8px;
    background-color: #ffe;
}

.citation{
    border-left: 3px solid #0005;
}

.genius-name{
    color: rgba(247, 58, 0, 0.9);
    text-transform: uppercase;
}

.post-image{
    margin: 5px;
    border-radius: 5px;
    max-width: 95%;
}

.post-image > figure > figcaption{
    margin: 5px;
}