@import url("./style.css");
@import url("./header_style.css");
@import url("./navbar_style.css");
@import url("./content_style.css");
@import url("./footer_style.css");

.main-grid{
    display: grid;
    grid-template-rows: 1fr 1fr 10fr 1fr;
    grid-gap: 10px;
    height: 1vh;
    grid-template-areas:
        "hd"
        "nv"
        "cont"
        "ft";
}

.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigate-posts{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    grid-gap: 20px;
}

.content{
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(5, 1fr);
}

.box{
    /* border: 2px solid black; */
}

#header{
    grid-area: hd;
}

#navbar{
    grid-area: nv;
}

#content{
    grid-area: cont;
}

#footer{
    grid-area: ft;
}

.genius{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "img nm"
        "img cont"
        "img cont"
        "img cont"
        "blnk interact";
    height: 250px;
    grid-gap: 5px;
    padding: 5px;
}

.genius-name{
    grid-area: nm;
}

.image{
    grid-area: img;
}

.citation{
    grid-area: cont;
}

.navigation{
    grid-area: interact;
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-end;
    grid-gap: 20px;
    padding: 5px;   
}

@media (min-width:1100px) {
    .main-grid{
        display: grid;
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-columns: 1fr 9fr;
        grid-gap: 10px;
        grid-template-areas:
            "hd hd"
            "nv cont"
            "ft ft";
    }

    .navigation-bar{
        flex-direction: column;
    }

    .navigate-posts{
        flex-direction: column;
    }

    .content{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}