.nav-link{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    box-shadow: 3px 7px 5px #0005;
    background-color: #ffe;
}

.navigation-bar{
    padding: 5px;
}