@import url("./style.css");
@import url("./header_style.css");
@import url("./navbar_style.css");
@import url("./content_style.css");
@import url("./footer_style.css");

.main-grid{
    display: grid;
    grid-template-rows: 1fr 1fr 10fr 1fr;
    grid-gap: 10px;
    height: 1vh;
    grid-template-areas:
        "hd"
        "nv"
        "cont"
        "ft";
}

.navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigate-posts{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    grid-gap: 20px;
}

.post-content{
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "img cont"
        "img cont"
        "img cont"
        "img cont"
        "img ft"
}

/* .box{
    border: 2px solid black;
} */

#header{
    grid-area: hd;
}

#navbar{
    grid-area: nv;
}

#content{
    grid-area: cont;
}

#footer{
    grid-area: ft;
}

.post-image{
    grid-area: img;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-text{
    grid-area: cont;
}

.post-content > p{
    width: 90%;
}

.post-footer{
    grid-area: ft;
    display: flex;
    grid-gap: 20px;
    padding: 10px;
    flex-direction: row-reverse;
    justify-items: flex-end;
}

@media (min-width:1100px) {
    .main-grid{
        display: grid;
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-columns: 1fr 10fr;
        grid-gap: 10px;
        grid-template-areas:
            "hd hd"
            "nv cont"
            "ft ft";
    }

    .navigation-bar{
        flex-direction: column;
    }

    .navigate-posts{
        flex-direction: column;
    }

    .content{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repet(3, 1fr);
    }
}