body{
    background-color: #ddd;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 450px;
    font-family: 'Frank Ruhl Libre', serif;
    overflow: auto;s
}

.element-shadow{
    box-shadow: 3px 7px 5px #0005;
}

button{
    background-color: rgba(247, 58, 0, 0.8);
    color: #ffe;
    height:40px;
    width: 100px;
    border-radius: 2px;
    border: none;
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 1.1em;
}