<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../style/post_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-grid">
        <div id="header" class="box header">
            <div class="logo" id="logo-field"></div>
            <h1 class="logo-label">Great Minds Think Alike, Right?</h1>
        </div>
        <div id="navbar" class="box navigation-bar">
            <a href="./index.html" class="nav-link box element-shadow home-link" title="Home"></a>
            <div class="navigate-posts box">
                <button class="nav-link box element-shadow subscribe-button" title="Subscribe"></button>
                <a href="./einstein.html" class="nav-link box element-shadow latest-link" title="Latest Post"></a>
                <a href="./curie.html" class="nav-link box element-shadow favorite-link" title="Most liked Post"></a>
            </div>
        </div>
        <div id="content" class="box post-content card element-shadow">
            <div class="box post-image">
                <img src="./images/Marie_Curie.webp" alt="Marie Curie" class="post-image element-shadow">
            </div>
            <div class="box post-text">
                <h2 class="genius-name">Marie Curie</h2>
                <h3>General Information</h3>
                <p>
                    Marie Salomea Skłodowska–Curie <em>(born Maria Salomea Skłodowska, 7 November 1867 – 4 July 1934)</em> was a Polish and naturalized-French <strong>physicist and chemist</strong> who conducted pioneering research on radioactivity. 
                    She was the <strong>first woman to win a Nobel Prize</strong>, the first person and the only woman to win the Nobel Prize twice, and the only person to win the Nobel Prize in two scientific fields. 
                    Her husband, Pierre Curie, was a co-winner on her first Nobel Prize, making them the first ever married couple to win the Nobel Prize and launching the Curie family legacy of five Nobel Prizes. 
                    She was, in 1906, the <em>first woman to become a professor at the University of Paris</em>.
                </p>
            </div>
            <div class="box post-footer">
                <button class="element-shadow">Go To Wiki</button>
                <button class="element-shadow">Share</button>
                <button class="element-shadow">Like</button>
            </div>
        </div>
        <div id="footer" class="box footer">
            <p>Created my design at LogoMakr.com</p>
        </div>
    </div>
</body>
</html>