<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../style/index_style.css">
    </head>
    <body>
        <div class="main-grid">
            <div id="header" class="box">
                Header
            </div>
            <div id="navbar" class="box navigation-bar">
                <a href="./index.html" class="nav-link box">Home</a>
                <div class="navigate-posts box">
                    <a href="./einstein.html" class="nav-link box">Latest</a>
                    <a href="./curie.html" class="nav-link box">Popular</a>
                </div>
            </div>
            <div id="content" class="box">
                Content
            </div>
            <div id="footer" class="box">
                Footer
            </div>
        </div>
    </body>
</html>