<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../style/index_style.css">
    </head>
    <body>
        <div class="main-grid">
            <div id="header" class="box header">
                <div class="logo" id="logo-field"></div>
                <h1 class="logo-label">Great Minds Think Alike, Right?</h1>
            </div>
            <div id="navbar" class="box navigation-bar">
                <a href="./index.html" class="nav-link box">Home</a>
                <div class="navigate-posts box">
                    <a href="./einstein.html" class="nav-link box">Latest</a>
                    <a href="./curie.html" class="nav-link box">Popular</a>
                </div>
            </div>
            <div id="content" class="box content">
                <div class="box genius" id="einstein">
                    Einstein
                </div>
                <div class="box genius" id="planck">
                    Planck
                </div>
                <div class="box genius" id="tesla">
                    Tesla
                </div>
                <div class="box genius" id="curie">
                    Curie
                </div>
                <div class="box genius" id="obama">
                    Obama
                </div>
            </div>
            <div id="footer" class="box footer">
                <p>Created my design at LogoMakr.com</p>
            </div>
        </div>
    </body>
</html>