<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../style/index_style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main-grid">
            <div id="header" class="box header">
                <div class="logo" id="logo-field"></div>
                <h1 class="logo-label">Great Minds Think Alike, Right?</h1>
            </div>
            <div id="navbar" class="box navigation-bar">
                <a href="./index.html" class="nav-link box element-shadow home-link" title="Home"></a>
                <div class="navigate-posts box">
                    <button class="nav-link box element-shadow subscribe-button" title="Subscribe"></button>
                    <a href="./einstein.html" class="nav-link box element-shadow latest-link" title="Latest Post"></a>
                    <a href="./curie.html" class="nav-link box element-shadow favorite-link" title="Most liked Post"></a>
                </div>
            </div>
            <div id="content" class="box content">
                <div class="box genius card element-shadow" id="einstein">
                    <div class="box image">
                        <img src="./images/Albert_Einstein.jpg" id="einstein-pic" alt="Albert Einstein">
                    </div>
                    <div class="box genius-name">
                        <h2>Albert Einstein</h2>
                    </div>
                    <div class="citation box">
                        <blockquote>
                            I have no special talent. I am only passionately curious.
                            <footer>
                                <cite>
                                    A. Einstein
                                </cite>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="navigation box">
                        <button onclick="window.location.href='./einstein.html'" class="element-shadow">Go To Post</button>
                        <button class="element-shadow">Like</button>
                    </div>
                </div>
                <div class="box genius card element-shadow" id="planck">
                    <div class="box image">
                        <div class="box image">
                            <img src="./images/Max_Planck.jpg" id="planck-pic" alt="Max Planck">
                        </div>
                    </div>
                    <div class="box genius-name">
                        <h2>Max Planck</h2>
                    </div>
                    <div class="citation box">
                        <blockquote>
                            When you change the way you look at things, the things you look at change.
                            <footer>
                                <cite>
                                    M. Planck
                                </cite>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="navigation box">
                        <button onclick="window.location.href='./planck.html'" class="element-shadow">Go To Post</button>
                        <button class="element-shadow">Like</button>
                    </div>
                </div>
                <div class="box genius card element-shadow" id="tesla">
                    <div class="box image">
                        <div class="box image">
                            <img src="./images/Nikola_Tesla.jpg" id="tesla-pic" alt="Nikola Tesla">
                        </div>
                    </div>
                    <div class="box genius-name">
                        <h2>Nikola Tesla</h2>
                    </div>
                    <div class="citation box">
                        <blockquote>
                            One must be sane to think clearly, but one can think deeply and be quite insane.
                            <footer>
                                <cite>
                                    N. Tesla
                                </cite>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="navigation box">
                        <button onclick="window.location.href='./tesla.html'" class="element-shadow">Go To Post</button>
                        <button class="element-shadow">Like</button>
                    </div>
                </div>
                <div class="box genius card element-shadow" id="curie">
                    <div class="box image">
                        <div class="box image">
                            <img src="./images/Marie_Curie.webp" id="curie-pic" alt="Marie Curie">
                        </div>
                    </div>
                    <div class="box genius-name">
                        <h2>Marie Curie</h2>
                    </div>
                    <div class="citation box">
                        <blockquote>
                            One never notices what has been done; one can only see what remains to be done.
                            <footer>
                                <cite>
                                    M. Curie
                                </cite>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="navigation box">
                        <button onclick="window.location.href='./curie.html'" class="element-shadow">Go To Post</button>
                        <button class="element-shadow">Like</button>
                    </div>
                </div>
                <div class="box genius card element-shadow" id="obama">
                    <div class="box image">
                        <div class="box image">
                            <img src="./images/michelle-obama.jpg" id="obama-pic" alt="Michelle Obama">
                        </div>
                    </div>
                    <div class="box genius-name">
                        <h2>Michelle Obama</h2>
                    </div>
                    <div class="citation box">
                        <blockquote>
                            Your story is what you have, what you will always have. It is something to own
                            <footer>
                                <cite>
                                    M. Obama
                                </cite>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="navigation box">
                        <button onclick="window.location.href='./obama.html'" class="element-shadow">Go To Post</button>
                        <button class="element-shadow">Like</button>
                    </div>
                </div>
            </div>
            <div id="footer" class="box footer">
                <p>Created my design at LogoMakr.com</p>
            </div>
        </div>
    </body>
</html>